# List of Environment variables with example values
RMI_PORT=1099  # where the created remote objects will be reachable
RMI_HOSTNAME=localhost  # where the created remote objects will be reachable
MONGO_INITDB_DATABASE=customerDb
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=verySecurePassword
MONGO_USERNAME=username
MONGO_PASSWORD=password

# Where the registry should be created/searched
CREATE_RMI_REGISTRY=true
RMI_REGISTRY_HOSTNAME=localhost
RMI_REGISTRY_PORT=1099

